mixin outputRating(rating)
  - for (var i = 1; i <= rating; i++)
   span.glyphicon.glyphicon-star
  - for (var i = rating; i < 5; i++)
   span.glyphicon.glyphicon-star-empty

mixin outputFacilities(facilities)
  each facility in facilities
    span.label.label-warning= facility
    | &nbsp;

mixin ouputOpendays(openDays)
  each day in openDays
   if(day.closed == false)
    p= day.days + " : " + day.opening + " - " + day.closing
   else
    p= day.days + " : Closed"
